
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
}

/* Removendo o limite do container */
.container {
    margin: 0;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
}

h1 {
    font-size: 24px;
    text-align: center;
}

.input-container {
    margin-top: 20px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #f2f2f2;
    font-size: 16px;
    margin-bottom: 10px;
}

button {
    display: block;
    margin: 0 auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

/* Tornando a div de resposta da API invisível por padrão */
.api-response {
    display: none;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 5px;
}